<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MohitNotes-Check New Subject's</title>
    <link rel="shortcut icon" href="public/img/mn-initial-letters-logo-design-free-vector.jpg" type="image/x-icon">


{{>homecss}}

</head>

<body>
  {{>navbar}}

    <div class="seperation-line"></div>

    <section id="scrollTarget" class="heading2">
        <span> <img src="img/564445.png" alt="notes">
            Check Our Free NOTES</span>

        <div class="grid">
            
            <div class="item">
                <div class="item-sub">
                    C Notes
                </div>
                <p> (C Language)</p>
                <p>Available</p>

                <a href="public/files/Cnotes.pdf" download="C-Language-notes.pdf" style="text-decoration: none" class="secbtn" >Download</a>
                <a href="c-notes"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    DBMS Notes
                </div>
                <p> (Database Management System)</p>
                <p>Unavailable</p>
                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>
            </div>
            <div class="item">
                <div class="item-sub">
                    C++ Notes
                </div>
                <p> (C++ Language)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    Python Notes
                </div>
                <p> (Python Programming Language)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    Java Notes
                </div>
                <p> (JAVA Language)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    HTML Notes
                </div>
                <p> (Hyper-text Markup Language)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    CSS Notes
                </div>
                <p> (Cascading Style-Sheet)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    OS Notes
                </div>
                <p> (Operating System)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    Data Structure Notes
                </div>
                <p> (Data Structure)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    Cloud Computing Notes
                </div>
                <p> (Cloud Computing)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>
            </div>
            <div class="item">
                <div class="item-sub">
                    CSA Notes
                </div>
                <p> (Computer System Archetecture)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    CG Notes
                </div>
                <p> (Computer Graphics)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    SE Notes
                </div>
                <p> (Software Enginering)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
            <div class="item">
                <div class="item-sub">
                    JS Notes
                </div>
                <p> (JAVA script Language)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>
            </div>
            <div class="item">
                <div class="item-sub">
                    Ai Notes
                </div>
                <p> (Artificial Intelligence)</p>
                <p>Unavailable</p>

                <a href="#"style="text-decoration: none" class="secbtn">Download</a>
                <a href="#"style="text-decoration: none" class="secbtn">View Notes</a>

            </div>
        </div>
    </section>
    <br>
    <br>

    <div class="seperation-line"></div>


    {{>footer}}
    
  <script>

    const burger = document.querySelector('.burger')
    const navbar = document.querySelector('.navbar')
    const navList = document.querySelector('.navlist')


burger.addEventListener('click',()=>{
    navList.classList.toggle('respnavv');
    navbar.classList.toggle('respnavh');

})
    document.getElementById("fstbtn").addEventListener("click", function() {
        const scrollTarget = document.getElementById("scrollTarget");
        scrollTarget.scrollIntoView({ behavior: "smooth", block:"start" });
    });
    
    
   
</script> 



</body>

</html>