<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C Language Notes by MOhit</title>
{{>ccss}}

</head>

<body>
    {{>notesnavbar}}


    <div class=" w-[100%] flex min-h-screen dark:bg-gray-900 dark:text-gray-200 ">
        <div

            class=" none w-[1%] sm:w-[1%] md:w-[25%] lg:w-[18%]">

            <div class="sidenav bg-purple-50  scroll-smooth w-[50%] z-[9]  md:w-[25%] lg:w-[18%] md:top-[136px] fixed text-left shadow-xl h-[87vh] overflow-y-scroll top-[120px] dark:bg-slate-800 hidden md:block md:pl-3">
                {{>csidenav}}
                </div>
            </div>


        <div>

        
        
            <div class="right-side md:px-8 w-[100%] px-2 md:w-[85%] mx-auto" id="p-0">
                <div class="mt-8 mb-6 justify-between hidden md:flex " id="gap">
<button onclick="window.location.href = '/c-notes/syntax-of-c' " class=" text-white cursor-pointer justify-center bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center mx-1 disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-default dark:disabled:text-gray-300 dark:bg-purple-600 dark:hover:bg-purple-900 dark:disabled:bg-gray-500" > << Previous </button>

<button class=" text-white cursor-pointer justify-center bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center mx-1 disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-default dark:disabled:text-gray-300 dark:bg-purple-600 dark:hover:bg-purple-900 dark:disabled:bg-gray-500" > Next >> </button>
                </div>



                <div class="flex mt-5 "> <h1 class="flex text-3xl lg:text-4xl font-semibold text-gray-800 dark:text-white mb-1"> Syntax Of C </h1>
                </div>

                <div class=" pt-2 cont font-karla min-h-screen dark:text-gray-200">
                     <h1> What is c comments ? </h1>
                    

                    <h1> Why should we learn C/ Features of C?</h1>
                    



                </div>


                <div class="mt-8 mb-6 justify-between hidden md:flex " id="gap">
                    <button class=" text-white cursor-pointer justify-center bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center mx-1 disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-default dark:disabled:text-gray-300 dark:bg-purple-600 dark:hover:bg-purple-900 dark:disabled:bg-gray-500" > << Previous </button>
                    
                    <button class=" text-white cursor-pointer justify-center bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center mx-1 disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-default dark:disabled:text-gray-300 dark:bg-purple-600 dark:hover:bg-purple-900 dark:disabled:bg-gray-500" > Next >> </button>
                                    </div>

            </div>

    </div>




</body>

</html>